.header{
    display: "flex";
    justify-content: space-between;
    align-items: center;
}

.buscador{
    width: 600px;
    height: 40px;
    font-size: 14px;
    border-radius: 10px;
   
}

.barra{
   justify-content: space-between;
    align-items: center;
    display: flex;
}

.login{
    color: white;
    font-size: 28px;
}